/test.class
/PageTable.class
/Page.class
/MemoryManagement.class
/MemoryManagement$algorithmType.class
/AlgorithmType.class
/PageTableFIFO.class
/PageTableFIFO$OptionFIFO.class
/OptionFIFO.class
/PageTable$OptionFIFO.class
/PageTable$Option.class
/Option.class
/PageTableSC.class
